.layout {
  background-image: radial-gradient(hsla(0, 0%, 84%, 0.25) 1px, transparent 0),
    radial-gradient(hsla(0, 0%, 65%, 0.2) 1px, transparent 0);


  background-size: 50px 50px;
  background-position:
    0 0,
    25px 25px;
  -webkit-animation: slide 2s linear infinite;
  animation: slide 4s linear infinite;
}

@keyframes slide {
  100% {
    background-position:
      50px 0,
      125px 25px;
  }
}

.cards:hover>.card::after {
  opacity: 1;
}

.card::before {
  background: radial-gradient(800px circle at var(--mouse-x) var(--mouse-y),
      rgba(255, 255, 255, 0.06),
      transparent 40%);
  z-index: 3;
}

.card::after {
  background: radial-gradient(600px circle at var(--mouse-x) var(--mouse-y),
      rgba(255, 255, 255, 0.4),
      transparent 40%);
  z-index: 1;
}


.single-image img {
  object-fit: contain;
}

.double-image {
  height: 75%;
}


.triple-image>div:nth-child(1) {
  grid-column: span 2;
  grid-row: span 2;
}

.triple-image>div:nth-child(2),
.triple-image>div:nth-child(3) {
  grid-column: span 1;
  grid-row: span 1;
}

.triple-image img {
  object-fit: cover;
  position: absolute;
}

.quadruple-image {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 0.75rem;
}

.quadruple-image img {
  object-fit: cover;
}